body{
    background-image: url("../images/i3.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #666666;
}
a{
    color: white;
}
a:hover{
    text-shadow: 2px 2px 4px white;
    background-color: black;
}
.nav-line{
    border-left: 1px solid white;
}

#footer-fix{
    height: 5%;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    #footer-fix{
        height: 7.5%;
    }
}